              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#reading">
                      阅读心得
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#linux">
                      Linux
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#android">
                      Android开发
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#architecture">
                      系统架构
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#tools">
                      工具效率
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#java">
                      Java开发
                    </a>
                  </li>                  
                  <li>
                    <a href="/categories.html#web">
                      Web开发
                    </a>
                  </li>
		              <li>
                    <a href="/categories.html#spring">
                      Spring
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#network">
                      网络相关
                    </a>
                  </li>
                </ul>
              </div>
